

<!DOCTYPE html>
<html>
	  <head>
		      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
          </head>

          <body>
            <p>

     <%= link_to "Accept Request","http://192.168.33.10:3000/check?email=#{@email}&account_id=#{@ac_id}" , method: :get%>
             </p>

          </body>
</html>



