    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <% @accounts.each do |account|%>
                        <div class="row">
                            <a href="<%= account_path(account.id) %>">
                                <h2><%= account.account_name %></h2>
                            </a>
                        </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>


